@font-face {
    font-family: 'ZCOOL Addict Italic 01';
    font-style: normal;
    font-weight: 400;
    src: local('ZCOOL Addict Italic 01'), local('ZCOOL-Addict-Italic-01-Normal'),  url('https://fonts.dustinky.cn/ZCOOLAddictItalic01.woff2') format('woff2');
}

.ZCOOL-Addict-Italic-01 {
    font-family: 'ZCOOL Addict Italic 01', cursive !important;
}
