@font-face {
    font-family: 'ZCOOL Addict Italic 02';
    font-style: normal;
    font-weight: 400;
    src: local('ZCOOL Addict Italic 02'), local('ZCOOL-Addict-Italic-02-Normal'),  url('https://fonts.dustinky.cn/ZCOOLAddictItalic02.woff2') format('woff2');
}

.ZCOOL-Addict-Italic-02 {
    font-family: 'ZCOOL Addict Italic 02', cursive !important;
}
