@font-face {
    font-family: 'HDKXZDTNFJ GB1';
    font-style: normal;
    font-weight: 400;
    src: local('HDKXZDTNFJ GB1'), local('HDKXZDTNFJ-GB1-Normal'),  url('https://fonts.dustinky.cn/HDKXZDTNFJ--GB1-0.woff2') format('woff2');
}

.HDKXZDTNFJ-GB1 {
    font-family: 'HDKXZDTNFJ GB1', cursive !important;
}
