@font-face {
    font-family: 'HDKXZDTNFF GB1';
    font-style: normal;
    font-weight: 400;
    src: local('HDKXZDTNFF GB1'), local('HDKXZDTNFF-GB1-Normal'),  url('https://fonts.dustinky.cn/HDKXZDTNFF--GB1-0.woff2') format('woff2');
}

.HDKXZDTNFF-GB1 {
    font-family: 'HDKXZDTNFF GB1', cursive !important;
}
