@font-face {
    font-family: 'ZCOOL KuHei';
    font-style: normal;
    font-weight: 400;
    src: local('ZCOOL KuHei'), local('ZCOOL-KuHei-Normal'),  url('https://fonts.dustinky.cn/ZCOOL_KuHei.woff2') format('woff2');
}

.ZCOOL-KuHei {
    font-family: 'Pushster', 'ZCOOL KuHei', cursive !important;
}
