@font-face {
    font-family: 'ZCOOL TsangerYuYang';
    font-style: normal;
    font-weight: 400;
    src: local('ZCOOL TsangerYuYang'), local('ZCOOL-TsangerYuYang-Normal'),  url('https://fonts.dustinky.cn/TsangerYuYangT.woff2') format('woff2');
}

.ZCOOL-TsangerYuYang {
    font-family: 'ZCOOL TsangerYuYang', cursive !important;
}
