@font-face {
    font-family: 'ZCOOL WenYi';
    font-style: normal;
    font-weight: 400;
    src: local('ZCOOL WenYi'), local('ZCOOL-WenYi-Normal'),  url('https://fonts.dustinky.cn/zcoolwenyiti.woff2') format('woff2');
}

.ZCOOL-WenYi {
    font-family: 'ZCOOL WenYi', cursive !important;
}
